#Carrosel{
    width: 90%;
    margin: 5%;
}
main{
    color: #000;
}
#Carrosel h1{
color: #fff;
}
#Carrosel img{

    max-height: 700px;
}
.produtos{
    margin-top: 10px;
}
.album h1{
    margin: 25px;
}