@font-face {
    font-family: gagalin;
    src: url("../Font/Gagalin/Gagalin/Commercial/TTF/Gagalin-Regular.ttf");
 }
*{
    border: 0;
    padding: 0px;
    margin: 0;
    text-decoration: none;
    font-family: gagalin;
}
html{
    height: 100%;
}

body{
    background-image: url("../imgens/fundo.jpeg") ;
    background-size:cover;
}

main{
    width: 90%;
    margin: 5%;
    color: #fff;
}
.card-group{
    width: 100%;
}


@media(min-height: 890px){
    @media(max-width: 442px){
        .rodape{
            margin-top: 14%;
        }
    
    .conteudo{
        margin-top: 2%;
        margin-bottom: 2%;
        height: 73%; 
    }
   }
}
